<div class="card my-4">
    <h5 class="card-header">Used technologies</h5>
    <div class="card-body">
      <a href="https://spring.io/projects/spring-boot" target="_blank"><img th:src="@{/img/spring-boot.webp}" alt="Spring Boot Logo" class="img_sidebar"></a>
      <a href="https://www.thymeleaf.org/" target="_blank"><img th:src="@{/img/thymeleaf.webp}" alt="Thymeleaf Logo"  class="img_sidebar"></a>
      <a href="https://www.mysql.com/" target="_blank"><img th:src="@{/img/mysql.webp}" alt="MySQL Logo"  class="img_sidebar"></a>
        <a href="https://getbootstrap.com/docs/4.5/getting-started/introduction/" target="_blank"><img th:src="@{/img/bootstrap.webp}" alt="Bootstrap Logo"  class="img_sidebar"></a>

    </div>
</div>